.title {
    text-align: center;
    color: coral;
}

.header {
    margin: 10px;
}

.sidebar {
    background: #E0ECFD;
}
.links {
    float: left;
    display: block;
    text-align:center;
    font-size: 18px;
    padding: 10px 40px;
    width: 33.33%;
}

.container {
    display: flex;
}

