.title {
    text-align: left;
    color: coral;
}

.header {
    margin: 10px;

}

.logo {
    display: flex;
    float: left;
    margin-left: 10px;
    height: 50px;
}

.navbar {
    background-color: white;
}

#navbar-bottom {
    border-bottom: 2px solid #665A48;
}

.welcome {
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
    color: #665A48;
    font-family: "Futura", Times, serif;
    font-weight: 500;
    font-size: 40px;
    background-color: rgb(237, 228, 224, .8);
    text-align: center;
    padding: 50px;
}

#w {
    background-color: white;
}

.websiteLogo {
    display: flex;
    float: left;
    margin-right: left;
}

.addRecipe {
    display: flex;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.sidebar {
    line-height: 1.3;
    background-color: #9F877290;
    color: white;
    border-radius: 10px;
    font-family: "Futura", Times, serif;
    font-weight: 500;
    font-size: 20px;
    width: 90%;
    justify-content: center;
}

.links {
    float: left;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 10px 40px;
    width: 33.33%;
}

.container {
    display: flex;
}

.filters {
    height: 400px;
    overflow-y: scroll;
}

.filterDiv {
    display: block;
    margin-top: 30px;
}

.accordion button {
    background: #C8DBBE !important;
    color: black !important;
    border: none !important;
}

.acordion body {
    border-radius: 1000px;

}

.submit {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #C8DBBE !important;
    color: black;
}

body {
    background-image: url("./imgs/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.brand {
    font-size: xx-large;
    color: #9F8772;
    font-weight: 500;
    font-family: "Brush Script MT", Times, serif;
}

.recipe {
    width: 200px;
    height: 550px;
    padding: 20px;
    margin-left: 20px;

}

a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.background {
    margin-top: 20px;
    background-color: rgb(44, 39, 29, .98);
}

.login_button {
    display: block;
    background: #C8DBBE !important;
    color: #665A48;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    justify-content: center;
    margin: 1em auto;
    width: 30%;
    letter-spacing: 2px;

}

.recipeBody {
    background-color: rgb(44, 39, 29, .98);
    color: white;
}

.recipeBody h1 {
    text-align: center;
}

.recipeBody p {
    text-align: left;
}

.recipeImg {
    width: 100%;

}

